[submodule "SimpleCanvas/glfw"]
	path = SimpleCanvas/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SimpleCanvas/SCMath/SCMathTest/googletest"]
	path = SimpleCanvas/SCMath/SCMathTest/googletest
	url = https://github.com/google/googletest.git
