[submodule "includes/glfw"]
	path = includes/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SimpleCanvas/glfw"]
	path = SimpleCanvas/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SimpleCanvas/Math/googletest"]
	path = SimpleCanvas/Math/googletest
	url = https://github.com/google/googletest.git
